$background: hsl(218, 28%, 13%);
$footer: hsl(216, 53%, 9%);
$intoandemail: hsl(217, 28%, 15%);
$testimonial: hsl(219, 30%, 18%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$bodytext: whitesmoke;
$text: hsl(0, 0%, 100%);
$boxshadow: hsl(219, 30%, 18%) 0px 5px 15px;
$error: hsl(0, 100%, 63%);
